
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 480px;
    width: 380px;
    background-color: rgba(33, 29, 29, 0.097);
    box-shadow: 0px 0px 10px;
    border-radius: 10px;
    font-family: "Poppins";
    transition: 2s ease;
    gap:10px;
}

#Music-List {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 15px;
    padding: 0px 20px;
    height: 90%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.293);
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    font-family: "Poppins";
    transform: translateY(-700px);
    transition: 2s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px, 
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow-y: scroll;
}

.SongLists {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-weight: 700;
}

.SongLists:hover {
    color: white;
    transform: scale(1.1);
    transition: 1s ease;
}

.SongLists:active {
    transform: scale(0.8);
    transition: 1s ease;
}

.Box {
    display: grid;
    place-items: center;
    width: 20%;
    height: 100%;
}

.Music-icon {
    height: 80%;
    width: 70%;
    border-radius: 100px;
    background-attachment: fixed;
    background-position: center;
    background-size: 4em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
    rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, 
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.SongText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.Tittle{
    font-size: 16px;
}
.Singer{
    font-size: 12px;
    font-weight: 400;
}

.Duration-time {
    width: 20%;
    height: 100%;
}

.Duration {
    font-size: 12px;
    transform: translateY(30px);
    text-align: center;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23%;
    height: 10%;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 1;
}

#Open {
    display: grid;
    place-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    font-size: 28px;
    font-weight: 700;
    transition: 1s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.275);
    background-color: rgba(255, 255, 255, 0.201);
}

.circle {
    display: grid;
    place-items: center;
    width: 100%;
    height: 50%;
    transform: translateY(-40px);
}

.Photo {
    height: 100%;
    width: 65%;
    border-radius: 20px;
    background-attachment: fixed;
    background-position: center;
    box-shadow: 0px 5px 10px black;
}
.Text {
    display: grid;
    place-items: center;
    width: 100%;
    height: 20%;
    color:white;
}

#Seek {
    background:transparent;
    border: 1px solid white;
    border-radius: 15px;
    height: 7px;
    width: 90%;
}

#Progress-bar {
    border-radius: 15px;
    height: 7px;
    width: 0%;
    transition: all 0.5s ease;
}

.time {
    display: flex;
    justify-content: space-between;
    width: 90%;
    color:white;
}

.Controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    width: 100%;
    height: 10%;
    color:white;
}

.Left {
    display: grid;
    place-items: center;
    width: 13%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.275);
    background-color: rgba(255, 255, 255, 0.201);
}

.Music {
    display: grid;
    place-items: center;
    width: 20%;
    height: 155%;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.275);
    background-color: rgba(255, 255, 255, 0.201);
}

.Right {
    display: grid;
    place-items: center;
    width: 13%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.275);
    background-color: rgba(255, 255, 255, 0.201);
}
#Loop{
    display: grid;
    place-items: center;
    width: 13%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.275);
    background-color: rgba(255, 255, 255, 0.201);
}
#Shuffle{
    display: grid;
    place-items: center;
    width: 13%;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.275);
    background-color: rgba(255, 255, 255, 0.201);
}
.Pause {
    display: none;
}

.Hover:hover {
    transform: scale(1.2);
    background-color:rgba(255, 255, 255, 0.468);
    color: white;
    transition: 0.5s ease;
}

.Hover:active {
    transform: scale(0.6);
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.333);
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@media only screen and (max-width:600px) {
    #Music-List {
        height: 80%;
        width: 80%;
    }

    .SongLists {
        width: 110%;
    }
    .Menu {
        top: 0px;
    }
    .SongLists:hover{
        transition: 1s ease;
        transform: scale(1.0);
    }
    .SongLists:active{
        transition: 1s ease;
        transform: scale(0.8);
    }
    .container{
        width: 90%;
        height:60%;
    }
}
